<h1>Register</h1>
<form action="/users/register" method="POST">
    <div class="form__group">
        <label for="firstName">First Name</label>
        <input
            type="text"
            id="firstName"
            name="firstName"
            class="form__control"
            placeholder="Enter First Name"
            required
        />
    </div>
    <div class="form__group">
        <label for="lastName">Last Name</label>
        <input
            type="text"
            id="lastName"
            name="lastName"
            class="form__control"
            placeholder="Enter Last Name"
            required
        />
    </div>
    <div class="form__group">
        <label for="email">E-mail Address</label>
        <input
            type="email"
            id="email"
            name="email"
            class="form__control"
            placeholder="Enter E-mail Address"
            required
        />
    </div>
    <div class="form__group">
        <label for="password">Password (8 characters minimum)</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form__control"
            placeholder="Enter Password"
            required
        />
    </div>
    <div class="form__group">
        <label for="passwordConfirm">Confirm Password</label>
        <input
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
            class="form__control"
            placeholder="Confirm Password"
            required
        />
    </div>
    <button type="submit">Submit</button>
</form>
<p>Already have an account? <a href="/users/login">Login</a></p>